<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.css">
</head>
<body>
<form th:action="@{/facility/edit}" method="post" th:object="${facility}">
    <div class="m-3">
        <div class="col-md-6">
            <label class="form-label">Name:</label>
            <input class="form-control" th:field="*{name}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label">Area</label>
            <input class="form-control" th:field="*{area}" type="number">
        </div>
        <div class="col-md-6">
            <label class="form-label">Standard Room</label>
            <input class="form-control" th:field="*{standardRoom}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label">Cost:</label>
            <input class="form-control" th:field="*{cost}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label">Max People:</label>
            <input class="form-control" th:field="*{maxPeople}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label">Description:</label>
            <input class="form-control" th:field="*{description}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label">Pool Area</label>
            <input class="form-control" th:field="*{poolArea}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label">Floor</label>
            <input class="form-control" th:field="*{floor}" type="number">
        </div>
        <div class="col-md-6">
            <label class="form-label">Facility Free</label>
            <input class="form-control" th:field="*{facilityFree}" type="text">
        </div>
        <div class="col-md-6">
            <label class="form-label">Facility Type</label>
            <select class="form-control" th:field="*{facilityType}">
                <option th:each="type: ${facilityTypeList}" th:value="${type.id}" th:text="${type.name}"></option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label">Rent Type</label>
            <select class="form-control" th:field="*{rentType}">
                <option th:each="type: ${rentTypeList}" th:value="${type.id}" th:text="${type.name}"></option>
            </select>
        </div>
        <button type="submit">Edit</button>
    </div>
</form>
</body>
</html>