
<div  th:fragment="header">
    <div class="row bg-success">
        <div class="col-lg-10">
            <img src="../picture/logo.jpg" height="75" width="133">
        </div>
        <div class="col-lg-2 ">
            <p>Nguyễn Văn A</p>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="view/home.jsp">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/customer">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/facility">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/view/contract/contract.jsp">Contract</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<div th:fragment="footer" class="row" style="background-color: #addccf ;">
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="background-color:#f3f3f3">
        <h2 style="color: #cbbe73;margin-top: 30px">How to Get to Us</h2>
        <p>Furama is a premier base for exploring one of Asia's most exciting new destinations. Just a short drive from
            Danang lay four UNESCO-listed World Heritage Sites:</p>
        <h5 style="color: #cbbe73">Local Places</h5>
        <ol class="list-group list-group-numbered" style="margin-bottom: 30px">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>The former imperial city of HUE</div>
                </div>
                <span class="badge bg-primary rounded-pill">2 hours</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>The ancient Hoi An</div>
                </div>
                <span class="badge bg-primary rounded-pill">30 minutes</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div >Champa civilization, My Son</div>
                </div>
                <span class="badge bg-primary rounded-pill">90 minutes</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>Phong Nha Caves</div>
                </div>
                <span class="badge bg-primary rounded-pill">3 hours</span>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <ul style="margin-top: 30px; list-style: none">
            <li class="pb-2"><a href="">News</a></li>
            <li class="pb-2"><a href="">Rack Rate</a></li>
            <li class="pb-2"><a href="">Lifestyle Blog</a></li>
            <li class="pb-2"><a href="">Work with us</a></li>
            <li class="pb-2"><a href="">Contact us</a></li>
        </ul>
    </div>
    <div class="col-lg-4">
        <h5 style="color: #cbbe73;margin-top: 30px">Contact US</h5>
        <ul style="list-style: none; font-size: small">
            <li>
                <i class="fa-sharp fa-solid fa-location-dot "></i>
            </li>
            <li>103-105 Vo Nguyen Giap Street, Khue My ward, Ngu Hanh Son district, Da Nang city, Viet Nam</li>
            <li>Tel: 84-236-3847-333</li>
            <li>email:reservation@furamavietnam.com</li>
            <li>GDS Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU</li>
            <hr>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>