<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/deleteConfirm}" th:method="post" th:object="${blog}">
    <input type="hidden" th:field="*{id}">
    <p>Title: </p>
    <input th:field="*{title}" type="">
    <p>Writer: </p>
    <input th:field="*{writer}" type="text">
    <p>Content: </p>
    <input th:field="*{content}" type="text">
    <p>Date Created: </p>
    <input th:field="*{dateCreated}" type="date">
    <p>Category: </p>
    <input th:field="*{category}" type="text">
    <input th:field="*{post.name}" type="text">
    <p>Bạn có muốn xóa không</p>
    <a th:href="@{/}">Back</a>
    <button type="submit">Delete</button>
</form>
</body>
</html>